:root {
  --skins-body-bg-color: #fafafa;
  --skins-link-fg-color: #3e8fec;
  --skins-link-fg-color-visited: #3e8fec;

  --skins-box-bg-color: #FFF;
  --skins-box-border-color: #ced4da;

  --skins-message-bg-color: #0CB868;
  --skins-message-fg-color: #FFF;

  --skins-socialprovider-border-color: #e5e5e5;
  --skins-socialprovider-hover-color: #F2F2F2;

  --skins-btn-bg-color: #0CB863;
  --skins-btn-fg-color: #FFF;

  --skins-input-bg-color: #FFF;
  --skins-input-fg-color: #495057;
  --skins-input-border-color: #ced4da;

  --skins-text-gray: rgba(0,0,0,.5);
}
