
@import
  "../main";


.login__container {
  &.default {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: -10px 60px 120px rgba(71, 71, 71, 0.14), 0px 0px 3px rgba(181, 181, 181, 0.25);
    height: 100%;
    margin-top: 120px;
  }
}
